@import '~antd/dist/antd.css';

a.a-gray:link,
a.a-gray:visited,
a.a-gray:active {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

a.a-gray:hover {
    color: rgb(170, 170, 170);
}

.site-layout .site-layout-background {
  background: #fff;
}

.clearfix::before,
.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.footer {
  width: 100%;
}

.main-content {
  min-height: 360px;
  margin: 10px;
}